#contenedor{
    background-color:rgb(236, 233, 233);
    height: 1210px;
    
}
#menu_top
{
    background-color:#0e444c;
    height: 60px;
    border-bottom:solid;
    border-bottom-color:grey;
}
#nombre_empresa{
    padding-bottom: 17px;
    padding-top: 10px;
    padding-left: 50px;
    background-color: grey;
    

}
.fa-bell
{
    margin-left: 15px;
    
}
.option_top{
    float: left;
    Color:white;
    margin-top: 10px;
}
#logo{
    margin-left: 50px;
}
#notificaciones {
    margin-left: 13%;
}
#usuario{
    float: right;
    margin-right: 50px;
}
aside{
    font-family: 'Courier New', Courier, monospace;
    background-color:#0e444c;
    width: 25%;
    color:white;
}
.menu_lv1{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
}
.menu_lv2{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
}
#menu_lateral
{
    height: 1150px;
}
.menu_lv3
{
    margin-left: 30px;
    padding-top:7px;
    padding-left: 70px;
    margin-left:-50px;
    padding-bottom:7px;
    background-color: #125c67 ;
}
#menu-user{
    background-color:white;
    height:180px;
    position:absolute; 
    width:140px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:1px 1px 3px black;
    color:black;
    display:none;
    z-index: 80;
}
a {
   color:white;
}


