.container-articulos{
    height:1000px;
    margin:100px;
    margin-left: 375px;
    margin-top: 0px;
    

}
#top{
    background-color:#882f88; 
    width:100%;
    padding:20px; 
    color:white 
}
.superior{
    background-image:linear-gradient(-90deg, #17a2b8 0%,hsl(300, 49%, 36%)  50%, #882f88 20%); 
    padding:10px;
    box-shadow: black 1px 3px 5px;
    border-radius: 5px;
}
.cajas{
    background-image:linear-gradient(-90deg, #17a2b8 0%,hsl(300, 49%, 36%)  50%, #882f88 20%); 
    padding:10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: black 1px 3px 5px;
    border-radius: 5px;
}
#sin_A
{
    display: none;
}
.container{
    width: 107%;
    margin: auto;
    position: relative;
    top: 20px;
    padding-top: 10px;
    padding: 10px;
    
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    
}
.buton{
    margin: 10px;
}
.cabeza{
    border-bottom: 1px solid royalblue;
    padding-bottom: 0px;
}
.form-row{
    padding-top: 5px;
    padding-bottom: 0px;
}
#btn{
    background-color:#0e444c; 
    color:white;
}

@media screen and (max-width: 1160px) 
{
    .container-articulos{
        width: 95%;
        margin-left: 20px;
    }
    .container{
        width: 95%;
    }
}