.container-inventario {
    width: 1000px;
    height: 1000px;
    margin: 70px;
    /*  position: relative;
    background-color:darkgray;
    /*background-color: white;
     rgb(137, 202, 245);
    */
    margin-left: 430px;
    margin-top: 0px;
}

.container {
    width: 900px;
    margin: auto;
    position: relative;
    top: 10px;
    padding-top: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}

.buton {
    margin: 10px;
}

.cabeza {
    border-bottom: 1px solid royalblue;
    padding-bottom: 0px;
}

.form-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#form {
    padding: 45px;
}

.btn {
    background-color: #0e444c;
    color: white;
}

.cabeza_tabla {
    padding: 15px;
    background-color: #882f88;
    color: white;
}