body{
    background-color:#0e444c;
}
#recuadro_login{
    background-color: white;
    width: 390px;
    position: absolute;
    z-index: 80;
    border: 1px solid darkgray;
    padding-bottom: 180px;
    float: left;
    
   
}
.form-control{
    margin-left: 5%;
    width: 50%;
}
#enviar
{
    background-color:#0e444c;
    color:white;
    margin-top:20px;
}
#img-fondo{
    opacity:0.1;
    position:absolute;
    left:0px;
}