.container-compras{
    width: 1000px;
    height:1000px;
    margin:50px;

  /*  position: relative;
    background-color:darkgray;
    /*background-color: white;
     rgb(137, 202, 245);
    */
    margin-left: 400px;
    margin-top: 0px;

}
.container{
    width: 900px;
    margin: auto;
    position: relative;
    top: 10px;
    padding-top: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    
}
.buton{
    margin: 10px;
}
.cabeza{
    border-bottom: 1px solid royalblue;
    padding-bottom: 5px;
}
.form-row{
    padding-top: 5px;
    padding-bottom: 5px;
}
#form{
    padding: 45px;
}
.btn{
    background-color:#0e444c; 
    color:white;
}
.cabeza_tabla{
    padding:15px; 
    background-color:#882f88;
    color:white;
}