.tamano_tablas{
    height:370px;
}
.Overflow{
    overflow:scroll;
    /*overflow-x:hidden;*/
    overflow-y: auto;
    color:white
}

.Overflow::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 118px;    /* Tamaño del scroll en horizontal */
}