#box_lista{
    width:70%;
    float:left;
    margin-left:20px; 
    margin-top:20px;
    background-color:white;
    padding:40px; 
    border-radius:7px;
    box-shadow:1px 1px 5px black
}
form{
    float:right;
}
#buscar{
    background-color:#0e444c;
    color:white;
}
.thead{
    background-color:#0e444c;
    color:white;
}
.box-modulos{
    height: 150px;
}